.card__like-count {
    font-size: 14px;
    color: #000;
    margin-top: 5px; /* Отступ сверху, чтобы текст не прилегал к кнопке */
    min-width: 20px; /* Минимальная ширина для текста */
    text-align: center; /* Выравнивание текста по центру */
}
